.content
  padding-top: 130px
  padding-bottom: 120px
  color: #fff
  &__advantage
    display: flex
    align-items: center
    padding-top: 40px
    &-icon
      width: 50px
      height: 50px
      flex-shrink: 0
      background-repeat: no-repeat
      background-size: cover
    &-text
      padding-left: 20px
      line-height: 22px
  &__text
    h1 strong
      border-bottom: 10px solid #B92E1C
      display: inline-block
      line-height: .6

  &__btn
    background: #B92E1C
    border-radius: 5px
    border: none
    padding: 30px 0
    color: #fff
    svg
      margin-left: 20px
    &:hover,
    &:focus
      filter: drop-shadow(0px 0px 2px #F04646)
      transition: .3s ease-in

