.content
  flex: 1 0 auto
  padding-top: 130px
  color: #fff
  &__advantage
    display: flex
    align-items: center
    padding-top: 40px
    cursor: default
    &-icon
      width: 50px
      height: 50px
      flex-shrink: 0
      background-repeat: no-repeat
      background-size: cover
    &-text
      padding-left: 20px
      line-height: 22px
    &:hover
      .content__advantage-icon
        filter: drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.5))
        transition: $transition-default
  &__text
    h1 strong
      border-bottom: 10px solid #B92E1C
      display: inline-block
      line-height: .6

  &__btn
    background: #B92E1C
    border-radius: 5px
    border: none
    padding: 30px 0
    color: #fff
    svg
      margin-left: 20px
    &:hover,
    &:focus
      filter: drop-shadow(0px 0px 2px #F04646)
  &__quiz
    &-text
      font-size: 16px
      line-height: 22px
      strong
        background: $bg-red
  &__image
    img
      width: 100%

      -webkit-animation-name: fadeInRight
      animation-name: fadeInRight
      -webkit-animation-duration: 1.4s
      animation-duration: 1.4s
      -webkit-animation-fill-mode: both
      animation-fill-mode: both

@-webkit-keyframes fadeInRight
  0%
    opacity: 0
    -webkit-transform: translate3d(100%, 0, 0)
    transform: translate3d(100%, 0, 0)

  to
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

@keyframes fadeInLeft
  0%
    opacity: 0
    -webkit-transform: translate3d(-100%, 0, 0)
    transform: translate3d(-100%, 0, 0)

  to
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)



@media screen and (max-width: 768px)
  .content
    padding-top: 120px
    padding-bottom: 120px
    &__advantages
      &_desktop-visible
        display: none
      &_desktop-hidden
        flex: 0 0 50%
        max-width: 50%

       
    &__image
      &_desktop-visible
        display: none
      &_desktop-hidden
        padding-top: 40px
        flex: 0 0 50%
        max-width: 50%
    &__btn
      max-width: 505px
      flex: none
    &__quiz-text
      padding-top: 20px
      padding-left: 0
      padding-right: 0
      flex: 0 0 100%
      max-width: 100%
    &__text
      flex: 0 0 100%
      max-width: 100%
      padding-left: 0
      padding-right: 0


    max-width: 100%
@media screen and (max-width: 576px)
  .content
    padding-top: 50px
    padding-bottom: 80px
    &__btn
      max-width: 100%
      padding: 10px 0
    &__text
      padding-left: 15px
      padding-right: 15px
      h1 strong
        border-bottom-width: 6px
    &__quiz-text
      font-size: 13px
      line-height: 22px
    &__image
      &_desktop-hidden
        display: none
    &__advantages
      &_desktop-hidden
        flex: 0 0 100%
        max-width: 100%


  
      
    


        

