.footer
  &__wrapper
    width: 100%
    display: flex
    justify-content: space-between
    align-items: flex-end
  &__phone,
  &__email,
  &__address
    display: block
    color: #fff
    padding-bottom: 7px

  &__phone,
  &__email
    &:hover,
    &:focus
      color: $bg-red
      text-decoration: none
      transition: $transition-default


  &__socials
    position: relative
    bottom: -20px
    display: flex
    padding-bottom: 10px
  &__social
    &-icon
      display: block
      width: 74px
      height: 74px
      margin: 0 40px
      background-image: url("../images/socials.png")
      background-position: 22px center
      background-repeat: no-repeat
      &:nth-last-child(1)
        margin-right: 0
      &:nth-child(1)
        margin-left: 0
      &_fb
        background-position-x: -112px
      &_vk
        background-position-x: -243px
      &:hover
        background-color: $bg-red
        border-radius: 50%
        transition: background-color $transition-default
       


      